.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.astro
venv
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
data_bank
set_env.sh
logs
unset_env.sh
queries.sql
.astro
plugins
tests